.input-wrapper {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0.44rem;
  left: 0;
  width: 100%;
  height: 0.38rem;
  padding: 0.04rem 0.1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
.input-wrapper input {
  flex: 1;
  display: block;
  height: 0.3rem;
  border: 1px solid #ddd;
  font-size: 0.14rem;
  text-indent: 0.1rem;
}
.input-wrapper button {
  margin-left: 0.1rem;
}
